
html {
    height: 100%;
}
#mainContainer {
    magin-top:200px;
    text-align: center;
    background-image: url("../images/cover.jpg");
    width:100%;
    padding-top: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#map, #mapSection {
    height: 100%;
    padding: 0;
    margin: 0;
}
#map img {
    max-width: none !important;
}
#mainContainer h1 {
    font-size: 42px;
    color: black;
    font-weight: 300;
}
.form-control {
    height: 50px;
    font-size: 20px;
    border: none;
    text-align: center;
}

.locateBtn {
    width: 50%;
}

.topMargin {
    margin-top: 20px;
}

#resultsTable {
    text-align: left;
    margin-left: 0;
    /*display: none;*/
}

#resultsTable thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}